section {
  margin-top: 24px;
  margin-bottom: 24px;
}

.response,
form {
  border: solid #f8f9fa;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 12px;
}

pre {
  margin-bottom: 0;
}

.badge {
  margin-bottom: 8px;
}
